/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-card-header-text {
  margin: 0px !important;
}

.mat-paginator-container {
  justify-content: center !important;
}

.ls-align-center {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.primeng-uploadStyleClass {
    .p-fileupload-buttonbar{
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }  
}
